rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // users: read for any authenticated user, create/update only for the user themselves.
    match /users/{userId} {
      allow read: if request.auth != null;
      allow create, update: if request.auth.uid == userId;
    }

    // hidden_messages: read for any authenticated user, create with limits, update for owner or to add to isFoundBy.
    match /hidden_messages/{messageId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.huntsCreatedToday < 3;
      allow update: if request.auth.uid == resource.data.cacherId || 
                       (request.auth.uid != resource.data.cacherId && 
                        request.resource.data.isFoundBy == resource.data.isFoundBy.concat([request.auth.uid]));
    }

    // conversations: read/write only for participants.
    match /conversations/{conversationId} {
      allow read, write: if request.auth.uid == resource.data.seekerUid || request.auth.uid == resource.data.cacherId;
    }
  }
}